@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

a,abbr,acronym,address,applet,article,aside,audio,
b,big,blockquote,body,canvas,caption,center,cite,
code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,
figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,
hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,
menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,
small,span,strike,strong,sub,summary,sup,table,tbody,
td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section {
  display: block; 
}

body {
  line-height: 1; 
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

/* *** *** * Global Styles * *** *** */
* {
  box-sizing: border-box;
}
body {
  background: #ebebe3;
  font-family: 'Roboto', sans-serif;
}

/* *** *** * Global Styles * *** *** */
#side-menu {
  background: #4a4a48;
  height: 100vh;
  position: absolute;
  width: 280px;
}
#side-menu nav {
  padding-top: 100px;
}
#side-menu nav a {
  color: #98ccd3;
  display: block;
  font-weight: 300;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
#side-menu nav a:hover {
  background: #364e68;
  border-left: 5px solid #c19898;
  padding: 15px 30px 15px 25px;
}
#side-menu nav a .far,
#side-menu nav a .fas {
  color: #ebf0f6;
}
#side-menu nav a .far,
#side-menu nav a .fas {
  color: #488b8f;
  display: inline-block;
  font-size: 1rem;
  margin-right: 0.8rem;
  position: relative;
  top: 2px;
  width: 30px;
}
#side-menu nav a.active {
  background: #9d8f8f;
  border-left: 5px solid #c19898;
  padding: 15px 30px 15px 25px
}
#side-menu nav a.active .far,
#side-menu nav a.active .fas {
  color: #d34c26;
}

/* *** *** * Header Styles * *** *** */
header {
  background: #fff;
  margin-left: 280px;
  padding: 5px;
}
header .search-area {
  display: inline-block;
  width: 50%;
}
header .search-area .fas {
  color: #7c7575;
}
header .search-area input[type=text] {
  background: transparent;
  border: none;
  color: #0c907d;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  width: 80%;
}
header .search-area input[type=text]:hover {
  background: #b7b7b7;
}
input:focus,
input:active,
textarea:focus {
  background: #c19898;
  outline: none;
}
header .user-area {
  display: inline-block;
  float: right;
  padding: 10px;
}
header .user-area a {
  color: #625757;
  display: inline-block;
  height: 30px;
  padding-right: 20px;
  text-decoration: none;
  vertical-align: top;
}
header .user-area a:hover {
  color: #0c907d;
}
/* class === add */
header .user-area a.notification {
  font-size: 20px;
  /* padding-top: 3px; */
  position: relative;
}
header .user-area a.notification .circle {
  background: red;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  height: 12px;
  left: 5px;
  position: absolute;
  text-align: center;
  /* top: 3px; */
  width: 12px;
}
header .user-area a .user-image {
  background: url(../images/faces.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  width: 30px;
}
header .user-area a .fa-caret-down {
  position: relative;
  top: -8px;
}

/* *** *** * Profile Card Styles * *** *** */
#content-area {
  margin-left: 280px;
  padding: 15px;
}
#content-area .heading h1 {
  color: #64638f;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 10px;
}
#content-area .heading p {
  color: #373640;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
#content-area .cards {
  overflow: auto;
  margin-bottom: 30px;
}
#content-area .cards .card {
  background: #fff;
  border-radius: 5px;
  overflow: auto;
  padding: 20px;
}
#content-area .cards .card .user-image {
  background: url(../images/faces.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  height: 115px;
  margin: 0 auto;
  width: 115px;
}
#content-area .cards .card .user-name {
  color: #951555;
  display: block;
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center;
}
#content-area .cards .card .user-title {
  display: block;
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
} /* f8b500; a20e0e */
/* Issues Summary Styles */
#content-area .cards .card h5 {
  font-size: .9rem;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.issues {
  margin: 13px;
  padding: 8px;
}


/* *** *** * Table Styles * *** *** */
table {
  width: 100%;
}
table thead {
  background: #373640;
}
table thead th {
  color: #fff;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 15px 10px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: left;
  text-transform: uppercase;
}
table tbody {
  background: #fff;
  font-size: 0.8rem;
}
table tbody td {
  color: #5ea3a3;
  padding: 10px 15px;
}

/* col-md Styles */
.col-md-4 {
  display: inline-block;
  float: left;
  padding: 0 15px;
  width: 33.33%;
}
.col-md-8 {
  display: inline-block;
  float: left;
  padding: 0 15px;
  width: 50%;
}
.col-md-12 {
  display: inline-block;
  float: left;
  padding: 0 15px;
  width: 100%;
}